html,
body {
  margin: 0;
  padding: 0;
  width: 300px;
  height: 450px;
  overflow-y: auto;
  overflow-x: hidden;
}

body::-webkit-scrollbar {
  width: 8px;
}

body::-webkit-scrollbar-track {
  background: white;
  margin-block: 0.25em;
}

body::-webkit-scrollbar-thumb {
  background: grey;
  border-radius: 10px;
  max-height: 20px;
}

body.theme-dark {
  background-color: #000000;
}

.theme-dark .token-box {
  background-color: rgb(70, 70, 70);
  border: 2px solid;
  color: rgb(169, 169, 169);
}

.token-box {
  border: 2px solid #007bff;
  padding: 10px;
  margin: 5px;
  cursor: pointer;
  display: inline-block;
  width: 250px;
  height: 50px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  transition: background-color 0.3s, box-shadow 0.3s;
}

.theme-dark .token-box:hover {
  background-color: rgb(40, 40, 40);
}

.token-box:hover {
  background-color: #e7f1ff;
  box-shadow: 0 0 15px rgba(0, 123, 255, 0.2);
}

.theme-dark .centered-title {
  color: white;
}

.centered-title {
  text-align: center;
  size: 110%;
}

.centered-secret {
  display: inline-block;
  max-width: 100%;
  word-break: break-word;
  white-space: normal;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0px;
}

#no-tokens-message {
  color: red;
  font-weight: bold;
}

.token-settings {
  user-select: none;
  position: relative;
  bottom: 42px;
  left: -4px;
  z-index: 1;
}

.token-settings:hover {
  animation: token-settings-spin 2s linear;
}

@keyframes token-settings-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.token-name {
  display: block;
  text-align: center;
  margin-bottom: 0px;
  margin-top: -35px;
}

.token-value {
  display: block;
  text-align: center;
  margin-top: 0px;
  margin-bottom: -15px;
}

.token-copy {
  z-index: 1;
  height: 30px;
  width: 30px;
  position: relative;
  float: right;
  bottom: 30px;
}

.token-copy:hover {
  transform: scale(1.1);
}

.theme-dark .copied-message {
  color: white;
}

.copied-message {
  position: relative;
  top: -25px;
  left: 175px;
  user-select: none;
  color: green;
  font-weight: bold;
  z-index: 1;
}

.theme-dark .not-copied-message {
  color: white;
}

.not-copied-message {
  position: relative;
  top: -20px;
  left: 63%;
  transform: translateX(-50%);
  user-select: none;
  color: red;
  font-weight: bold;
  z-index: 1;
}

.popup-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
}

.theme-dark .popup-content {
  background: black;
  border: 3px solid white;
}

.popup-content {
  border: 3px solid white;
  z-index: 4;
  background: white;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  border-radius: 5px;
  width: 255px;
  height: 275px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.theme-dark .popup-content-qr {
  background: black;
  border: 3px solid white;
}

.popup-content-qr {
  border: 3px solid white;

  text-align: center;
  background: white;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  border-radius: 5px;
  width: 255px;
  height: 275px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  position: relative;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  z-index: 4;
}

.theme-dark .popup-video-content {
  background: black;
  border: 3px solid white;
}

.popup-video-content {
  border: 3px solid white;

  background: white;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  border-radius: 5px;
  width: 255px;
  height: auto;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.theme-dark .popup-message {
  background: black;
  border: 3px solid white;
}

.popup-message {
  border: 3px solid white;

  background: white;
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  border-radius: 5px;
  width: 255px;
  height: 125px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.buttons-container {
  display: flex;
  justify-content: space-between;
}

.x-icon {
  color: red;
  position: absolute;
  top: 5px;
  right: 5px;
  transition: stroke 0.3s ease, transform 0.3s ease;
}

.x-icon:hover {
  stroke: darkred;
}

.theme-dark .close-popup {
  background-color: #4a90e2;
  color: #ffffff;
}

.theme-dark .close-popup:hover {
  background-color: #357abd;
}

.close-popup {
  float: right;
  width: 40%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #007bff;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.close-popup:hover {
  background: #0056b3;
}

.theme-dark .delete-token {
  background-color: #ca6778;
}

.theme-dark .delete-token:hover {
  background-color: #b94d5f;
}

.delete-token {
  width: 40%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: red;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.delete-token:hover {
  background: darkred;
}

.theme-dark .webcam-add-button {
  background-color: #ca6778;
}

.webcam-add-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 48%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: red;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.webcam-off-icon {
  margin-left: 10px;
}

.webcam-on-icon {
  margin-left: 10px;
}

.image-icon {
  margin-left: 10px;
}

.theme-dark .webcam-add-button:hover {
  background-color: #b94d5f;
}

.webcam-add-button:hover {
  background: darkred;
}

.theme-dark .image-add-button {
  background-color: #4a90e2;
}

.image-add-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 48%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #007bff;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.theme-dark .image-add-button:hover {
  background-color: #357abd;
}

.image-add-button:hover {
  background: #0056b3;
}

.theme-dark .delete-token-confirmation {
  background-color: #ca6778;
}

.delete-token-confirmation {
  width: 40%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: red;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.theme-dark .delete-token-confirmation:hover {
  background-color: #b94d5f;
}

.delete-token-confirmation:hover {
  background: darkred;
}

#tokens {
  padding-bottom: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  min-height: 100px;
}

.theme-dark circle {
  fill: black;
}

.theme-dark path {
  fill: white;
}

.theme-dark .main-settings {
  background-color: black;
}

.main-settings {
  width: 30px;
  height: 30px;
  transform: translate(252px, -47px);
}

.main-settings:hover {
  animation: main-settings-spin 2s linear;
}

.theme-dark .back-button {
  background-color: white;
}

.back-button {
  height: 30px;
  width: 30px;
  position: relative;
  transform: translate(220px, -50px);

  visibility: hidden;
  z-index: 2;
}

.back-button:hover {
  transform: translate(220px, -50px) scale(1.1);
}

.header-container::selection {
  background: transparent;
}

@keyframes main-settings-spin {
  from {
    transform: translate(252px, -47px) rotate(0deg);
  }
  to {
    transform: translate(252px, -47px) rotate(360deg);
  }
}

.theme-dark .minimize {
  stroke: white;
}

.minimize {
  user-select: none;

  width: 35px;
  height: 35px;
  transform: translate(-55px, -45px);
}

.minimize::selection {
  background: pink;
}

.minimize:hover {
  transform: translate(-55px, -45px) scale(0.85);
}

.theme-dark .form-container {
  background-color: rgb(70, 70, 70);
}

.form-container {
  padding: 10px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  height: auto;
}

.theme-dark .form-label {
  color: white;
}

.form-label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
  color: #555;
}

#current-url {
  margin-bottom: 5px;
}

.theme-dark .form-input {
  background-color: rgb(141, 141, 141);
  border: 1px solid black;
}

.theme-dark .form-input:focus {
  border-color: white;
  box-shadow: 0 0 5px rgba(255, 255, 255, 0.5);
  border: 1px solid black;
}

.form-input {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-sizing: border-box;
  font-size: 14px;
}

.theme-dark .form-input-no-margin {
  background-color: rgb(141, 141, 141);
  border: 1px solid black;
}

.form-input-no-margin {
  width: 100%;
  padding: 10px;
  border: 1px solid #ddd;

  border-radius: 5px;
  box-sizing: border-box;
  font-size: 14px;
}

.theme-dark .form-input-no-margin:focus {
  border-color: white;
  box-shadow: 0 0 5px rgba(255, 255, 255, 0.5);
}

.form-input-no-margin:focus {
  border-color: #007bff;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
  outline: none;
}

.theme-dark .form-input:focus {
  border-color: white;
}

.form-input:focus {
  border-color: #007bff;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
  outline: none;
}

.theme-dark .add-token-button {
  background-color: #4a90e2;
  color: #ffffff;
}

.theme-dark .add-token-button:hover {
  background-color: #357abd;
}

.add-token-button {
  display: block;
  width: 100%;
  padding: 10px;
  transform: translateY(-5px);
  border: none;
  border-radius: 5px;
  background-color: #007bff;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.add-token-button:hover {
  background-color: #0056b3;
}

.theme-dark .advanced-add-button {
  background-color: #5daf70;
  color: #ffffff;
}

.theme-dark .advanced-add-button:hover {
  background-color: #4e915d;
}

.advanced-add-button {
  margin-top: 10px;
  display: block;
  width: 100%;
  padding: 10px;
  transform: translateY(-5px);
  border: none;
  border-radius: 5px;
  background-color: green;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
  box-sizing: border-box;
}

.advanced-add-button:hover {
  background-color: darkgreen;
}

.form-checkbox {
  margin-left: 10px;
  transform: scale(1.2);
}

.settingsContainer {
  text-align: right;
}

.header-container {
  height: 35px;
}

.theme-dark .active-tokens-header {
  color: white;
}

.active-tokens-header {
  margin-bottom: 0px;
  margin-left: 15px;
  margin-bottom: 11px;
}

.active-tokens-header-container {
  display: flex;
}

.minimalist-clock {
  display: inline-block;
  width: 48px;
  height: 48px;
  margin-top: auto;
  margin-left: 35px;
  transform: translateY(-2px);
  user-select: none;
  pointer-events: none;
}

.minimalist-clock svg {
  width: 100%;
  height: 100%;
}

.minimalist-clock circle {
  fill: none;
  stroke: #000;
  stroke-width: 4;
}

.theme-dark .minimalist-clock .background-circle {
  stroke: white;
}

.minimalist-clock .background-circle {
  stroke: #ddd;
}

.minimalist-clock .progress-circle {
  stroke: #000;
  stroke-width: 8;
  stroke-dasharray: 251.2;
  stroke-dashoffset: 251.2;
  transform-origin: 50% 50%;
  transform: rotate(-90deg);
}

.minimalist-clock line {
  stroke: #000;
  stroke-width: 2;
  transform-origin: 50% 50%;
}

.theme-dark .clock-text {
  fill: white;
}

.clock-text {
  font-size: 30px;
  fill: red;
}

.theme-dark .switch-boxes-container {
  background-color: black;
}

.switch-boxes-container {
  padding: 10px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  height: 400px;
}

.theme-dark .switch-box {
  background-color: rgba(141, 141, 141);
}

.switch-box {
  display: flex;
  padding: 10px;
  align-items: center;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  border-left: 2px solid #ccc;
  border-right: 2px solid #ccc;
  border-radius: 10px;
}

.switch-box-first {
  display: flex;
  padding: 10px;
  align-items: center;
  border-top: 2px solid #ccc;
  border-bottom: 1px solid #ccc;
  border-left: 2px solid #ccc;
  border-right: 2px solid #ccc;
  border-radius: 10px;
}

.theme-dark .switch-box-first {
  background-color: rgba(141, 141, 141);
}

.switch-box-last {
  display: flex;
  padding: 10px;
  align-items: center;
  border-top: 1px solid #ccc;
  border-bottom: 2px solid #ccc;
  border-left: 2px solid #ccc;
  border-right: 2px solid #ccc;
  border-radius: 10px;
}

.theme-dark .switch-box-last {
  background-color: rgba(141, 141, 141);
}

.theme-dark .switch-text {
  color: white;
}

.switch-text {
  margin-left: 10px;
}

.theme-dark .feather-info {
  fill: black;
  stroke: white;
}

.feather-info {
  margin-left: auto;
}

.switch {
  text-align: center;
  position: relative;
  display: inline-block;
  width: 45px;
  height: 25.5px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.theme-dark .slider {
  background-color: rgb(109, 109, 109);
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.theme-dark .slider:before {
  background-color: black;
}

.slider:before {
  position: absolute;
  content: "";
  height: 19.5px;
  width: 19.5px;
  left: 3px;
  bottom: 3px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.theme-dark input:checked + .slider {
  background-color: white;
}

input:checked + .slider {
  background-color: #2196f3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(19.5px);
  -ms-transform: translateX(19.5px);
  transform: translateX(19.5px);
}

.slider.round {
  border-radius: 25.5px;
}

.slider.round:before {
  border-radius: 50%;
}

.tooltip {
  position: relative;
  margin-left: auto;
}

.checkbox-message-password {
  visibility: hidden;
  width: 175px;
  background-color: black;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
  position: absolute;
  z-index: 1;
  right: 25px;
  bottom: -7px;
}

.checkbox-message-sync {
  visibility: hidden;
  width: 175px;
  background-color: black;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
  position: absolute;
  z-index: 1;
  right: 25px;
  bottom: -7px;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 225px;
  background-color: black;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
  position: absolute;
  z-index: 1;
  top: -35px;
  right: 105%;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}

.video-container {
  padding-bottom: 10px;
}

.token-qr-button {
  user-select: none;
  z-index: 1;
  height: 27px;
  width: 27px;
  position: relative;
  top: 28px;
  right: 5px;
}

.token-qr-button:hover {
  transform: scale(1.1);
}

.inline-url {
  display: flex;
  align-items: center;
}

.inline-secret {
  display: flex;
  align-items: center;
}

.inline-url .form-label {
  display: inline;
  margin-right: 10px;
}

#current-url {
  display: inline-block;
  max-width: 100%;
  word-break: break-word;
  white-space: normal;
}

.shorter-width-heading {
  display: flex;
  justify-content: center;
  width: 200px;
  margin-top: 25px;
}

.theme-dark .enter-url-placeholder::placeholder {
  color: #ffffff;
  opacity: 1;
}

.theme-dark .centered-headings {
  color: white;
}

.centered-headings {
  margin-top: 20px;
  text-align: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.advanced-add-messages {
  color: red;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 5px;
  margin-top: -17px;
  visibility: hidden;
}

.permissions-header {
  margin-top: 0px;
  margin-bottom: 10px;
}

.theme-dark .permissions-header {
  color: white;
}

.theme-dark .themes-header {
  color: white;
}

.form-label-container {
  margin-top: 5px;
}

.form-label-container-password {
  padding-left: 10px;
  padding-right: 10px;
  margin-top: 5px;
}

.theme-dark .wide-button {
  background-color: #4a90e2;
}

.wide-button {
  display: block;
  width: 100%;
  padding: 10px;
  transform: translateY(-5px);
  border: none;
  border-radius: 5px;
  background-color: #007bff;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.wide-button:hover {
  background-color: #0056b3;
}

.theme-dark .wide-button:hover {
  background-color: #357abd;
}

.inline-label-and-message {
  display: flex;
  align-items: center;
}

.theme-dark .secret-found-message {
  color: white;
}

.secret-found-message {
  font-weight: bold;
  margin-bottom: 5px;
  margin-left: 10px;
  color: green;
}

.theme-dark .centered-secret {
  color: white;
}

.centered-secret {
  display: inline-block;
  max-width: 100%;
  word-break: break-word;
  white-space: normal;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0px;
  margin-bottom: 0px;
}

.theme-buttons-container {
  display: flex;
  justify-content: space-between;
  padding-bottom: 15px;
}

.dark-theme-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 48%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #555;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.light-theme-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 48%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: rgb(195, 195, 195);
  color: black;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.dark-theme-button:hover {
  background-color: #404040;
}

.light-theme-button:hover {
  background-color: rgb(219, 219, 219);
}

.theme-dark .options-page-header {
  color: white;
}

.permissions-page-body {
  text-align: center;
}

.theme-dark .camera-permission-button {
  background-color: #ca6778;
}

.camera-permission-button {
  margin-left: 10px;
  margin-right: 10px;
  width: 90%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: red;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
  display: flex;
  align-items: center;
  justify-content: center;
}

.camera-permission-message {
  color: black;
  font-weight: bold;
}

.theme-dark .camera-permission-message {
  color: white;
}

.password-warning-message {
  justify-content: center;
  align-items: center;
  text-align: center;
  padding-bottom: 10px;
  color: red;
  font-weight: bold;
}

.logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}

.logo-container img {
  width: 50%;
  height: auto;
  filter: invert(100%);
}

#password-submit-button {
  margin-top: 5px;
}

.theme-dark .logo-container {
  filter: invert(100%);
}

.clipboard-tooltip {
  visibility: hidden;
  width: 200px;
  background-color: black;
  color: white;
  text-align: center;
  padding: 5px;
  border-radius: 5px;
  position: absolute;
  z-index: 10;
}

#incorrect-password-message {
  height: 20px;
  line-height: 20px;
  color: red;
  padding-left: 10px;
}

.wrong-or-nonmatch-passwords {
  display: inline-block;
  color: red;
  margin-left: 12px;
  visibility: hidden;
}
