html,
body {
  margin: 0;
  padding: 0;
  width: 300px;
  height: 450px;
  overflow-y: auto;
  overflow-x: hidden;
}

body::-webkit-scrollbar {
  width: 8px;
  visibility: hidden;
}

body:hover::-webkit-scrollbar,
body::-webkit-scrollbar:hover {
  width: 8px;
  visibility: visible;
}

body::-webkit-scrollbar-track {
  background: white;
  margin-block: 0.25em;
  visibility: hidden;
}

body:hover::-webkit-scrollbar-track,
body::-webkit-scrollbar-track:hover {
  background: white;
  margin-block: 0.25em;
  visibility: visible;
}

body::-webkit-scrollbar-thumb {
  background: grey;
  border-radius: 10px;
  visibility: hidden;
}

body:hover::-webkit-scrollbar-thumb,
body::-webkit-scrollbar-thumb:hover {
  background: grey;
  border-radius: 10px;
  max-height: 20px;
  visibility: visible;
}

.token-box {
  border: 1px solid #007bff;
  padding: 10px;
  margin: 5px;
  cursor: pointer;
  display: inline-block;
  width: 250px;
  max-height: 50px;
  text-align: left;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  transition: background-color 0.3s, box-shadow 0.3s;
}

.token-box:hover {
  background-color: #e7f1ff;
  box-shadow: 0 0 15px rgba(0, 123, 255, 0.2);
}

.token-text {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
  color: #333;
}

.centered-title {
  text-align: center;
  transform: translateX(4px);
  size: 110%;
  /* margin-bottom: 10px; */
}

.centered-secret {
  display: inline-block;
  max-width: 100%;
  word-break: break-word;
  white-space: normal;
  margin-top: 0px;
}

#no-tokens-message {
  color: red;
  font-weight: bold;
}

.token-settings {
  position: relative;
  left: -5px;
  top: -10px;
  z-index: 3;
}

.token-name {
  display: block;
  text-align: center;
  transform: translateY(-50px);
}

.token-value {
  display: block;
  text-align: center;
  transform: translateY(-65px);
}

.token-settings:hover {
  animation: token-settings-spin 2s linear;
  z-index: 2;
}

.token-copy {
  z-index: 2;
  height: 30px;
  width: 30px;
  position: relative;
  top: 9px;
  left: 200px;
}

.token-copy:hover {
  transform: scale(1.1);
}

.copied-message {
  color: green;
  font-weight: bold;
  transform: translate(175px, -100px);
  z-index: 3;
}

@keyframes token-settings-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.popup-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
}

.popup-content {
  background: white;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  border-radius: 5px;
  width: 250px;
  height: 275px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.popup-content-qr {
  text-align: center;
  background: white;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  border-radius: 5px;
  width: 250px;
  height: 275px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  position: relative;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.popup-video-content {
  background: white;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  border-radius: 5px;
  width: 250px;
  height: auto;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.popup-message {
  background: white;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  border-radius: 5px;
  width: 250px;
  height: 125px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.buttons-container {
  display: flex;
  justify-content: space-between;
}

.x-icon {
  color: red;
  position: absolute;
  top: 5px;
  right: 5px;
  transition: stroke 0.3s ease, transform 0.3s ease;
}

.x-icon:hover {
  stroke: darkred;
}

.close-popup {
  float: right;
  width: 40%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #007bff;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.close-popup:hover {
  background: #0056b3;
}

.delete-token {
  width: 40%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: red;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.delete-token:hover {
  background: darkred;
}

.webcam-add-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 48%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: red;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.webcam-off-icon {
  margin-left: 10px;
}

.webcam-on-icon {
  margin-left: 10px;
}

.image-icon {
  margin-left: 10px;
}

.webcam-add-button:hover {
  background: darkred;
}

.image-add-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 48%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #007bff;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.image-add-button:hover {
  background: #0056b3;
}

.delete-token-confirmation {
  width: 40%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: red;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.delete-token-confirmation:hover {
  background: darkred;
}

#tokens {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  transform: translateX(4px);
  min-height: 90px;
}

.main-settings {
  width: 30px;
  height: 30px;
  transform: translate(256px, -50px);
}

.main-settings:hover {
  animation: main-settings-spin 2s linear;
}

.back-button {
  height: 30px;
  width: 30px;
  position: relative;
  transform: translate(220px, -50px);
  visibility: hidden;
  z-index: 10;
}

.back-button:hover {
  transform: translate(220px, -50px) scale(1.1);
}

@keyframes main-settings-spin {
  from {
    transform: translate(256px, -50px) rotate(0deg);
  }
  to {
    transform: translate(256px, -50px) rotate(360deg);
  }
}

.minimize {
  width: 35px;
  height: 35px;
  transform: translate(-55px, -45px);
}

.minimize:hover {
  transform: translate(-55px, -45px) scale(0.85);
}

.form-container {
  padding: 10px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  transform: translateX(4px);
  height: auto;
}

.form-label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
  color: #555;
}

#current-url {
  margin-bottom: 5px;
}

.form-input {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-sizing: border-box;
  font-size: 14px;
}

.form-input-no-margin {
  width: 100%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-sizing: border-box;
  font-size: 14px;
}

.form-input:focus {
  border-color: #007bff;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
  outline: none;
}

.add-token-button {
  display: block;
  width: 100%;
  padding: 10px;
  transform: translateY(-5px);
  border: none;
  border-radius: 5px;
  background-color: #007bff;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.add-token-button:hover {
  background-color: #0056b3;
}

.advanced-add-button {
  margin-top: 10px;
  display: block;
  width: 100%;
  padding: 10px;
  transform: translateY(-5px);
  border: none;
  border-radius: 5px;
  background-color: green;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
  box-sizing: border-box;
}

.advanced-add-button:hover {
  background-color: darkgreen;
}

.form-checkbox {
  margin-left: 10px;
  transform: scale(1.2);
}

.settingsContainer {
  text-align: right;
}

.header-container {
  height: 35px;
}

.active-tokens-header {
  margin-left: 15px;
}

.active-tokens-header-container {
  display: flex;
}

.minimalist-clock {
  display: inline-block;
  width: 48px;
  height: 48px;
  margin-top: auto;
  margin-left: 35px;
  transform: translateY(-5px);
}

.minimalist-clock svg {
  width: 100%;
  height: 100%;
}

.minimalist-clock circle {
  fill: none;
  stroke: #000;
  stroke-width: 4;
}

.minimalist-clock .background-circle {
  stroke: #ddd;
}

.minimalist-clock .progress-circle {
  stroke: #000;
  stroke-width: 8;
  stroke-dasharray: 251.2;
  stroke-dashoffset: 251.2;
  transform-origin: 50% 50%;
  transform: rotate(-90deg);
}

.minimalist-clock line {
  stroke: #000;
  stroke-width: 2;
  transform-origin: 50% 50%;
}

.clock-text {
  font-size: 30px;
  fill: red;
}

.switch-boxes-container {
  padding: 10px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  transform: translateX(4px);
  height: 400px;
}

.switch-box {
  display: flex;
  padding: 10px;
  align-items: center;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  border-left: 2px solid #ccc;
  border-right: 2px solid #ccc;
  border-radius: 10px;
}

.switch-box-first {
  display: flex;
  padding: 10px;
  align-items: center;
  border-top: 2px solid #ccc;
  border-bottom: 1px solid #ccc;
  border-left: 2px solid #ccc;
  border-right: 2px solid #ccc;
  border-radius: 10px;
}

.switch-box-last {
  display: flex;
  padding: 10px;
  align-items: center;
  border-top: 1px solid #ccc;
  border-bottom: 2px solid #ccc;
  border-left: 2px solid #ccc;
  border-right: 2px solid #ccc;
  border-radius: 10px;
}

.switch-text {
  margin-left: 10px;
}

.feather-info {
  margin-left: auto;
}

.switch {
  text-align: center;
  position: relative;
  display: inline-block;
  width: 45px;
  height: 25.5px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 19.5px;
  width: 19.5px;
  left: 3px;
  bottom: 3px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #2196f3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(19.5px);
  -ms-transform: translateX(19.5px);
  transform: translateX(19.5px);
}

.slider.round {
  border-radius: 25.5px;
}

.slider.round:before {
  border-radius: 50%;
}

.tooltip {
  position: relative;
  margin-left: auto;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 225px;
  background-color: black;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
  position: absolute;
  z-index: 1;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}

.tooltip .tooltiptext {
  top: -35px;
  right: 105%;
}

.video-container {
  padding-bottom: 10px;
}

.token-qr-button {
  z-index: 3;
  height: 27px;
  width: 27px;
  position: relative;
  transform: translate(-60px, 25px);
}

.token-qr-button:hover {
  transform: translate(-60px, 25px) scale(1.1);
}

.inline-url {
  display: flex;
  align-items: center;
}

.inline-secret {
  display: flex;
  align-items: center;
}

.inline-url .form-label {
  display: inline;
  margin-right: 10px;
}

#current-url {
  display: inline-block;
  max-width: 100%;
  word-break: break-word;
  white-space: normal;
}

.shorter-width-heading {
  display: flex;
  justify-content: center;
  width: 200px;
  margin-top: 25px;
}

.centered-headings {
  text-align: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.video-messages {
  color: red;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0px;
  margin-top: -17px;
  visibility: hidden;
}

.permissions-header {
  margin-top: 0px;
  margin-bottom: 10px;
}

.theme-dark .add-token-button {
  color: grey;
  background-color: yellow;
}

.url-add-container {
  margin-top: 5px;
}

.add-url-button {
  /* float: right; */
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #007bff;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
  display: flex;
  align-items: center;
  justify-content: center;
}
